<div class="row pt-2 pb-2 mt-4 pb-4 mb-4 border-top border-bottom">
    <div class="col px-4">
        <p>I'm a FullStack Software Enginer who works with technologies like: Java, JavaScript, Angular, React, to Develop applications with a high level.</p>
        <p>I love to programming and learn new things. I really into cyclism and swimming, love to read, movies and play videogames.</p>
        <p>This is my directive:</p>
        <blockquote class="blockquote text-center">
            <p class="mb-2">
            "I have no special talents. I am only passionately curious."
            </p>
            <footer class="blockquote-footer"><cite title="Source Title">Albert Einstein</cite></footer>
        </blockquote>
    </div>
</div>